@model IEnumerable<Tamagotchi.Models.Booking>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tamagotchi Hotel</h1>
    <p class="lead">Klik hier onder om de nacht te starten</p>
    <p><a onclick="location.href='@Url.Action("", "Night")'" class="btn btn-primary btn-lg">Start Nacht</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-lg-12">

            <table class="table">
                <tr>
                    <th>
                        Boekingnummer
                    </th>
                    <th>
                        Tamagotchi
                    </th>
                    <th>
                        Kamer
                    </th>
                    <th>
                        Nachten
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tamagochi.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hotelroom.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nights)
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>
</div>